{% extends 'base.html.twig' %}

{% block body %}
	<div class="fiche-titre">
		<hr class="my-4"/>
		Catalogue
		<hr class="my-4"/>
	</div>
	<div class="nouveaux container px-4 px-lg-5">
		{% for produit in produitList %}
			<div class="card">
					<!-- Post preview-->
					<div class="post-preview">
						<a href="{{path('produit',{'produitName':produit.name})}}">
							<img src="{{produit.picture}}" class="card-img">
							<h2 class="post-title">{{produit.name}}</h2>
						</a>
					</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
