{% extends 'base.html.twig' %}

{% block body %}
	<div class="fiche-titre">
		<hr class="my-4"/>
            <img src="/assets/img/fish-icon.png">
		<hr class="my-4"/>
		<i class="fa-solid fa-bell"></i>
	</div>

	<div class="emptyList">
		Cette partie du site est vide, excusez nous de la gène occasionnée.
	</div>

{% endblock %}
